body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-image: url("img/reep.jpg");
}

div#top-bar{
    margin: auto;
    width: 1250px;
    height: 50px;
    border: 1px solid black;
}

div#beurt {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    border: 1px solid black;
    background-color: white;
    text-decoration-color: chocolate;
    width: 200px;
    height: 50px;
}

h3 {
}

div.picture-holder {
    margin: auto;
    box-sizing: border-box;
    height: 620px;
    width: 1250px;
    border: solid 3px black;
}