
body {
    margin: auto;
    margin-top: 5px;
    font-family: 'Arial', sans-serif;
    text-align: center;
    /*background-image: url("img/reep.jpg");*/
    box-sizing: border-box;
    width: 1250px;
    background-color: aquamarine;
}

div#top-bar{
    margin: auto;
    width: 1250px;
    height: 60px;
    grid-column: 1/7;
}

div#beurt {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    border: 1px solid black;
    background-color: white;
    width: 200px;
    height: 60px;
    position: relative;
}

div#tekstbeurt, #tekstspeler1, #tekstspeler2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: auto;
    color: chocolate;
    font-size: 20px;
}

div#speler1 {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    background-color: white;
    width: 200px;
    height: 60px;
}

div#speler2 {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    background-color: white;
    width: 200px;
    height: 60px;
}

div.foto {
    width: 200px;
}

div.picture-holder {
    display: flex;
    flex-wrap: wrap;
    grid-column: 1/7;
    box-sizing: border-box;
    margin-top: 10px;
    flex-direction: row;
    justify-content: space-between;
}

.container {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0;
}

#img_1,#img_2,#img_3,#img_4,#img_5,#img_6,#img_7,#img_8,#img_9,#img_10,#img_11,#img_12,#img_13,#img_14,#img_15,#img_16,#img_17,#img_18 {
    width: 200px;
    height: 200px;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    width: 200px;
    opacity: 1;
    background-image: url("img/ps-logo.jpg");
    display: block;
    z-index: 5;
}


.container:hover .overlay {
    display: none;
    width: 100%;
    left: 0;
    right: 0;
}