#ogen {
    height: 235px;
    width: 563px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

#neus {
    height: 235px;
    width: 563px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

#mond {
    height: 235px;
    width: 563px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}